[submodule "qtree"]
	path = qtree
	url = https://github.com/DaniloZZZ/qtree

[submodule "Author-Kit"]
    path = data/artifact_description/Author-Kit
    url = https://github.com/SC-Tech-Program/Author-Kit
